header#navigation{
	position: fixed;
	width: 100%;
	z-index: 1000;	
	ul#navigation-primary{
		font-size: 1rem;
		font-weight: 300;
		font-family: $sans-serif-mont;
		position: relative;
		margin-top: 25px;		
		li{
			display: inline-block;
			a{
				color: #fff;
				padding:11px 20px;
				position: relative;
				text-decoration: none;
			}
		}
		li.menu-item-has-children{
			ul.sub-menu{
				background: $brand-medium;
				position: absolute;
				padding: 0px;
				font-size:90%;		
				li{
					display: none;
					border-bottom: 1px solid #e3e3e3;
					text-align: center;
					transition:ease all 0.3s;		
					a{
						padding-bottom:0;
						color: #fff;
					}
					&:hover {
						background-color: $brand-primary;
					}
				}
				&:hover li{
					display:block; 
				}
			}
			&:hover{
					ul.sub-menu{
						margin-top:8px;
						line-height: 30px;
						width: 20rem;
						box-shadow: 1px 1px 1px #000;
						border-top: 1px solid #e3e3e3;
						border-right: 1px solid #e3e3e3;
						border-left: 1px solid #e3e3e3;				
					li{
						display: block;
						padding:10px;
						margin: 0px;
					}
				}		
			}
			&:after{
				font-family: 'FontAwesome';
			    content: "\f107";
			    color: #fff;
			    position: relative;
			    top: -0.1175rem;
			    left: -0.75rem;
			}
		}
		li#menu-item-21964{
			ul.sub-menu{
				top: 1.5rem;
				left: 3rem;			
			}
		}
		li#menu-item-21961{
			ul.sub-menu{
				left: 12rem;
				top: 1.5rem;
			}
		}
		li#menu-item-21911{
			ul.sub-menu{
				top: 1.5rem;
				left: 23rem;
			}
		}
	}	
	.navbar{
		border-radius: 0px !important;
		background:RGBA(0,32,66,.95);
		position: fixed;
		width: 100%;
	}	
}
